<style>
.youyan {
  padding: 20px 40px;
}
@media (max-width: 767px) {
  .youyan {
    padding 20px 10px;
  }
}
</style>
<section class="youyan" id="comments">
  <div id="uyan_frame"></div>
  <script src="http://v2.uyan.cc/code/uyan.js?uid=<%= theme.youyan.id%>"></script>
</section>
